@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2>Add a new stylist</h2>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  <br><br>
  @Html.LabelFor(model => model.Specialty)
  @Html.TextBoxFor(model=> model.Specialty)
  <br><br>
  @Html.LabelFor(model => model.HireDate)
  @Html.DisplayFor(model => model.HireDate)
  <br><br>
  <input type="submit" value="Add stylist">
  <hr>
}

<p>@Html.ActionLink("Nevermind", "Index")</p>
<p>@Html.ActionLink("Back home", "Index", "Home")</p>