@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist
@using HairSalon.Models

<h2>@Model.Name's Details</h2>
<h5>Specialty: @Model.Specialty</h5>
<h5>Hire Date: @Model.HireDate.ToString("MM/dd/yyyy")</h5>
<hr>
@if (@Model.Clients.Count == 0)
{
  <h5>No clients have been added to @Model.Name yet!</h5>
}
else
{
  <h5>Clients</h5>
  <ul>
    @foreach(Client client in Model.Clients)
    {
      <li>@Html.ActionLink($"{client.Name}", "Details", "Clients", new { id = client.ClientId})</li>
    }
  </ul>
}

<hr>
<p>@Html.ActionLink($"Add a new client to {Model.Name}", "Create", "Clients")</p>
<p>@Html.ActionLink($"Edit {Model.Name}", "Edit", new { id = Model.StylistId})</p>
<p>@Html.ActionLink($"Delete {Model.Name}", "Delete", new { id = Model.StylistId})</p>
<hr>
<p>@Html.ActionLink("View all stylists", "Index")</p>
<p>@Html.ActionLink("Back home", "Index", "Home")</p>