@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Add a new client</h2>
<div id="notice">
  <p>NOTE: you <em>must</em> include a stylist when adding a new client. If no stylists have been added yet, please add one @Html.ActionLink("here", "Create", "Stylists")</p>
</div>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  <br><br>
  @Html.LabelFor(model => model.Stylist)
  @Html.DropDownList("StylistId")
  <br><br>
  <input type="submit" value="Add client" id="button">
}
<hr>
<p id="client-links">@Html.ActionLink("View all clients", "Index")</p>
<p id="stylist-links">@Html.ActionLink("View all stylists", "Index", "Stylists")</p>
<h5 id="home-link">@Html.ActionLink("Back home", "Index", "Home")</h5>