@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>@Model.Name's Details</h2>
<h5 id="stylist-details">Stylist: @Model.Stylist.Name</h5>

<hr>
<p id="client-links">@Html.ActionLink($"Edit {Model.Name}", "Edit", new { id = Model.ClientId})</p>
<p id="client-links">@Html.ActionLink($"Delete {Model.Name}", "Delete", new { id = Model.ClientId})</p>
<hr>
<p id="stylist-links">@Html.ActionLink($"Back to {Model.Stylist.Name}", "Details", "Stylists", new { id = Model.Stylist.StylistId})</p>
<p id="stylist-links">@Html.ActionLink("Back to all stylists", "Index", "Stylists")</p>
<h5 id="home-link">@Html.ActionLink("Back home", "Index", "Home")</h5>